@import '../../../config-scss/rem-calc.scss';

:host {
  .navbar-toggler {
    border: none;
  }

  [type=button]:not(:disabled),
  [type=reset]:not(:disabled),
  [type=submit]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
    background: transparent;
    margin: 1%;
  }

  .offcanvas-header {
    justify-content: flex-end;
  }

  .offcanvas.offcanvas-start {

    border-radius: 0 50px 0 0;
    background-image: url(../../../assets/decoracoes/decoracoamenu.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: -284px;
    background-position-x: -147px;
  }

  .menu_link {
    --bs-menu_links--item-link-padding-x: 0;
    --bs-menu_links--item-link-padding-y: 3rem;
    --bs-menu_links--item-link-font-weight: ;
    --bs-menu_links--item-link-color: var(--menu-texto);
    -webkit-text-stroke: 1px var(--menu-texto);
    --bs-menu_links--item-link-hover-color: var(--bs-navbar-hover-color);
    --bs-menu_links--item-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 40%;
    margin-left: 20%;
    list-style: none;
  }


  .btn-close:focus {
    box-shadow: none;
  }

  .fixedtop {
    position: fixed;
    z-index: 10;
  }

  .menu {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;


    #menu_links {
      &--item-link {
        font-size: rem-calc(24);
        display: flex;
        align-items: center;
        color: var(--menu-texto);
        text-decoration: none;
        width: 100%;
        margin: 30px;

        img {
          margin: 0 10px;
        }
      }

    }

    input[type="radio"] {
      display: none;
    }

    label {
      cursor: pointer;
      z-index: 1;
      width: 100%;
      transition: 0.25s ease-in;
    }

    .blob-container {
      position: absolute;
      transition: transform 0.2s ease-out;
      width: 100%;
      display: none;
    }

    .blob {
      background: rgba(236, 130, 77, 0.53);
      width: 400px;
      height: 72px;
      border-radius: 0px 36px 36px 0;
      margin: 2px auto;
    }


    input[id="radio-0"] {
      &:hover {
        ~.blob-container {
          transform: translateY(-133%);
          display: block;
        }
      }
    }

    input[id="radio-1"] {
      &:hover {
        ~.blob-container {
          transform: translateY(6%);
          display: block;
        }
      }
    }

    input[id="radio-2"] {
      &:hover {
        ~.blob-container {
          transform: translateY(135%);
          display: block;
        }
      }
    }

  }

}