:root{
    --fundo-branco: #fff;
    --fundo-tela1: #f0f2f2;
    --evolucao-pokemon:#FFDDC5;
    --titulo-tela1:#6d5957;
    --cinza: rgb(218, 218, 218);
    --fundo-card:#FFF1EB;
    --laranja :#ec824d;
    --menu-texto: #A1300A;
    --pesquisa:#6A8480;
    --azul-claro:#d4eceb;
    --filtro:#018f8b;
    --t-inseto:#c2c696;
    --b-inseto:#668E71;
    --b-dark:#9D71AC;
    --t-dark:#E9ACFF;
    --b-dragon:#FEBFBF;
    --t-dragon:#F46B6B;
    --b-eletric:#FFE870;
    --t-eletric:#db851b;
    --b-fairy:#FFD3F0;
    --t-fairy:#FF96DB;
    --b-fight:#F46B6B;
    --t-fight:#efbcbc;
    --b-fire:#E8916F;
    --t-fire:#F9BEA8;
    --b-fly:#91BDFF;
    --t-fly:#3f456e;
    --b-ghost:#EADAFB;
    --t-ghost:#A76BF4;
    --b-grass:#DEE2B3;
    --t-grass:#668E71;
    --b-ground:#E3C4AF;
    --t-ground:#A06D4C;
    --b-ice:#91EBFF;
    --t-ice:#02c4f3;
    --b-normal:#D2D2D2;
    --t-normal:#333333;
    --b-poison:#E9ACFF;
    --t-poison:#9D71AC;
    --b-psy:#FF96DB;
    --t-psy:#be3490;
    --b-rock:#A06D4C;
    --t-rock:#E3C4AF;
    --b-steel:#a5a5a5;
    --t-steel:#3a3a3a;
    --b-water:#91BDFF;
    --t-water:#3D7CDB;
    --water-l:#B1CDF8;
}