<app-menu></app-menu>
<div class="apresentacao">
    <div class="inicio">
        <div class="h_inicio">
            <div class="centro ">
                <h1 class="t_titulo">Come discover new pokemons</h1>
                <a [routerLink]="['/list']" class="btn_go">Let's go</a>
            </div>
        </div>
        <div class="decoracao">
            <img class="decoracao--bolha1-at-item" src="../../../assets/decoracoes/Vector1.svg" alt="">
            <img class="decoracao--bolha2-at-item2" src="../../../assets/decoracoes/Vector2.svg" alt="">
        </div>
    </div>
</div>