<app-menu></app-menu>
<div class="apresentacao">
  <div class="inicio">
      <div class="h_inicio">
          <div class="centro ">
              <img class="t_titulo" src="../../../assets/decoracoes/clond.svg" title="Error404">
              <img class="btn_go" src="../../../assets/decoracoes/pikachu.svg" alt="">
          </div>
      </div>
      <div class="decoracao">
          <img class="decoracao--bolha1-at-item" src="../../../assets/decoracoes/Vectorn1.svg" alt="">
          <img class="decoracao--bolha2-at-item2" src="../../../assets/decoracoes/Vectorn2.svg" alt="">
      </div>
  </div>
</div>
