@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';

html{
    font-family: 'Montserrat Alternates', sans-serif;
}

// main{
//     width: rem-calc(800);
//     padding: rem-calc(10);
//     margin: 0 auto;
//     box-sizing: border-box;
// }
html, body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}
